<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConvertDoc -  </title> 

    <script src="https://cdn.bootcss.com/spark-md5/2.0.2/spark-md5.min.js" type="text/javascript"></script>
    <script src="https://qtest.hellotalk.org/public/browser-md5-file.js" type="text/javascript"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header"> 
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">主页</a></li>
                    <li><a href="/Home/About">关于</a></li>
                    <li><a href="/Home/Contact">联系方式</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        

 
<h2>ConvertDoc</h2>

<form action="{{ .action }}/{{ .token }}" enctype="multipart/form-data" method="post" id="thisform">   
     <input type="file"  id="file" name="myfile"/>
    <input type="hidden" id="file_md5" name="md5" value=""/>
    <input type="hidden" id="file_size" name="filesize" value=""/>
    <input type="submit" />
</form>
        <hr />
        <footer>
            <p>&copy; 2017  MD5:<div id="md5md5"></div></p>
        </footer>
    </div>
 
    
</body>

 <script type="text/javascript">
    document.getElementById("file").addEventListener("change",   function  (e) {

            var box = document.getElementById('file_md5') 
            var file_size = document.getElementById('file_size') 
            var md5md5 = document.getElementById('md5md5') 
            var thisform = document.getElementById('thisform') 

          var file = e.target.files[0];
          browserMD5File(file, function (err, md5) {
            console.log(md5); // 97027eb624f85892c69c4bcec8ab0f11
                 box.value = '' + md5;
                 md5md5.innerHTML = '' + md5;
                file_size.value = file.size;
                thisform.action =thisform.action+'?md5='+md5;
          });
        }  );

    </script>

</html>
