<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<title>{{.LessonTitle}}</title>
	<style>
		body{background-color: #fff;}
		.del{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			text-align: center;
		}
		.del>p{
			width: 120px;
			margin: 19px auto;
			font-size: 16px;
			color: #b5b5b5;
			text-align: left;
		}
		img{
			width: 120px;
			height: 100px;
		}
	</style>
</head>
<body>
	<div class="del">
		<img src="{{.video_del_pic}}" alt="">
		<p> {{.gl_video_deleted}} </p>
	</div>
</body>
</html>