<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	
	<link rel="icon" href="//cn-head-cdn.nihaotalk.com/pub/img/favicon.ico" type="image/x-icon" /> 
	<meta property="og:image" content="http://cn-head-cdn.nihaotalk.com/pub/img/cs_logo.jpg" />
	<meta property="og:image:width" content="100" />
	<meta property="og:image:height" content="100" />
	<meta property="og:site_name" content="HelloTalk" />
	<meta property="fb:app_id" content="320645564738175" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:image" content="http://cn-head-cdn.nihaotalk.com/pub/img/cs_logo.jpg" />
	<meta name="twitter:site" content="@hellotalk" />
	<meta name="twitter:title" content="{{.LessonTitle}}" />
	<meta name="twitter:description" content="{{.LessonAbstract}}" />
	<meta property="og:title" content="{{.LessonTitle}}" />
	<meta property="og:description" content="{{.LessonAbstract}}" />
	<!-- <meta property="og:url" content="" /> -->
	<meta property="og:type" content="article" />
	
	<title>{{.LessonTitle}}</title>
	<script>var html = document.querySelector('html');var width =   Math.min(html.getBoundingClientRect().width, 750);html.style.fontSize = width / 10 + 'px';
		var href = window.location.href;
		var title = androidStrToEmoji('{{.LessonTitle}}');
		// var description  = androidStrToEmoji('{{.LessonAbstract}}');
		var a = document.createElement('meta');a.setAttribute('property',"og:url");a.content = href;
		// var b = document.createElement('meta');b.setAttribute('property',"og:title");b.content = title;
		// var c = document.createElement('meta');c.setAttribute('property',"og:description");c.content = description;
		// var d = document.createElement('meta');d.name = "twitter:title";d.content = title;
		// var e = document.createElement('meta');e.name = "twitter:description";e.content = description;
		var link = document.querySelector('link');var head = document.querySelector('head');
		head.insertBefore(a,link);
		// head.insertBefore(b,link);head.insertBefore(c,link);head.insertBefore(d,link);head.insertBefore(e,link);
		document.querySelector('title').innerText = title;
		function strToEmoji(str) {
		    return String.fromCharCode(parseInt(str.substr(0,4),16),parseInt(str.substr(4,4),16))
		}
		// 兼容安卓端emoji编码
		function androidStrToEmoji(str){
			var newStr = '';
			newStr = str.replace(/\[[^\[]*\]/gi,function(emojiTag){
				  var unicodeEmoji = emojiTag.match(/\[(.*)\]/)[1];
			      if (!(/^[0-9a-zA-Z]+$/gi.test(unicodeEmoji))||unicodeEmoji.length%4!==0) {
			            return emojiTag;
			      }
			      if (!/^A-Za-z0-9+$/.test(unicodeEmoji)&&unicodeEmoji.length%4!==0) {
			            return '';
			      }
			      return strToEmoji(unicodeEmoji)
			})
			return newStr;
		}
	</script>
	<style>
		*{margin:0;padding:0;border:none;text-decoration: none;-webkit-tap-highlight-color: transparent;}html,body{width:100%;height:100%;max-width: 750px;}img{max-width:100%;}
		body{	
			font-family: PingFangSc;
			font-size: 0.4266666666666667rem;
		}
		img{
			vertical-align: middle;
		}
		.courseDetail {
		  width: 10rem;
		  margin: auto;
		  overflow: hidden;
		}
		.ht-adv {
		  width: 100%;
		  height: 1.6rem;
		  -webkit-backdrop-filter: blur(0.13333333333333333px);
		  backdrop-filter: blur(0.13333333333333333rem);
		  background-color: rgba(255, 255, 255, 0.9);
		  box-shadow: 0.13333333333333333px 0 0.26666666666666666px 0.13333333333333333px rgba(0, 0, 0, 0.05);
		  overflow: hidden;
		}
		.ht-adv .logo {
		  width: 3.5733333333333333rem;
		  height: 0.9333333333333333rem;
		  padding: 0.3333333333333333rem 0 0.3333333333333333rem 0.41333333333333333rem;
		  float: left;
		}
		.ht-adv .logo > img {
		  width: 0.9333333333333333rem;
		  height: 0.9333333333333333rem;
		  vertical-align: middle;
		}
		.ht-adv .logo-title {
		  color: #000;
		  margin-left: 0.34800000000000003rem;
		  font-size: 0.4533333333333333rem;
		  font-weight: bold;
		}
		.ht-adv .open-btn {
		  float: right;
		  width: 3.3333333333333335rem;
		  height: 0.88rem;
		  border-radius: 1.3333333333333333rem;
		  background-color: #405bd3;
		  text-align: center;
		  line-height: 0.88rem;
		  color: #fff;
		  margin: 0.36rem 0.4rem 0.36rem 0;
		  font-weight: normal;
		  font-size: 0.32rem;
		  font-family: PingFangSC;
		  letter-spacing: 1px;
		  cursor: pointer;
		}
		.course-title {
		  padding: 0.38666666666666666rem 0.4rem 0 0.4rem;
		}
		.course-title > h1 {
		  font-size: 0.5333333333333333rem;
		  color: #333;
		  letter-spacing: 1px;
		}
		.course-title .course-sourse {
		  margin-top: 0.18666666666666668rem;
		  font-size: 0.37333333333333335rem;
		  color: #7e7e7e;
		}

		/* course-time */
		.course-title .course-time {
		  width: 100%;
		  height: 2.84rem;
		  /*padding: 0 0.38666666666666666rem;*/
		}
		.course-time .time-title {
		  font-size: 0.4533333333333333rem;
		  font-weight: 600;
		  color: #333;
		  margin-top: 0.4266666666666667rem;
		  text-align: left;
		  margin-bottom: 0;
		}
		.time {
		  position: relative;
		  width: 100%;
		}
		.time .icon-time {
		  display: block;
		  position: absolute;
		  top: 0.36rem;
		  width: 0.4533333333333333rem;
		  height: 0.4533333333333333rem;
		  border-radius: 50%;
		  background: url('{{.CDN_HOST}}img/icon-time.svg') no-repeat center/cover;

		}
		.time .t {
		  position: absolute;
		  top: 0.29333333333333333rem;
		  left: 0.72rem;
		  width: 3.506666666666667rem;
		  height: 0.6rem;
		  font-family: SFUIText;
		  font-size: 0.4266666666666667rem;
		  color: #484848;
		  font-weight: 400;
		}
		/* icon-right */
		.course-time .icon-right {
		  position: absolute;
		  display: block;
		  top: 0.5733333333333334rem;
		  right: 0.36rem;
		  width: 0.21333333333333335px;
		  height: 0.3333333333333333rem;
		  line-height: 0.3333333333333333rem;
		  cursor: pointer;
		}
		.icon-right .rect,
		.icon-right .rect-copy {
		  position: absolute;
		  display: block;
		  width: 0.21333333333333335rem;
		  height: 0.05333333333333334rem;
		  border-radius: 0.05333333333333334rem;
		  background-color: #c2c2c2;
		}
		.icon-right .rect {
		  top: -0.05333333333333334rem;
		  -webkit-transform: rotate(45deg);
		  transform: rotate(45deg);
		}
		.icon-right .rect-copy {
		  top: 0.05333333333333334rem;
		  -webkit-transform: rotate(-45deg);
		  transform: rotate(-45deg);
		}
		/* 分割线 */
		.cut-off-rule {
		  width: 100%;
		  height: 0.26666666666666666rem;
		  background-color: #f6f6f6;
		}
		/* course-info */
		.course-info {
		  width: 100%;
		  /*height: 246px;*/

		  padding: 0 0.4rem 0.48rem 0.4rem;
		  box-sizing: border-box;
		}
		.course-info > h2 {
		  margin-top: 0.8533333333333334rem;
		  color: #333;
		  font-size: 0.4533333333333333rem;
		}
		.tip {
		  margin-top: 0.29333333333333333rem;
		  width: 100%;
		  padding-bottom: 0.8666666666666667rem;
		  color: #484848;
		  font-size: 0.4266666666666667rem;
		  font-weight: 400;
		}
		.name {
		  text-indent: -0.24rem;
		  font-size: 0.4266666666666667rem;
		}
		.preferential {
		  width: 100%;
		}
		.more {
		  color: #2554a5;
		  cursor: pointer;
		}
		/* teacher-info */
		.teacher-info ,.course-record{
		  width: 100%;
		  padding: 0.3333333333333333rem 0.4rem 0.4266666666666667rem 0.4rem;
		  box-sizing: border-box;
		}
		.teacher-info > h2,.course-record >h2 {
		  color: #333;
		  font-size: 0.4533333333333333rem;
		}
		.info {
		  margin-top: 0.3466666666666667rem;
		  font-size: 0.4266666666666667rem;
		  letter-spacing: -0.008rem;
		  color: #484848;
		}
		/* course-record */
		.course-record .record{
			padding: 0 0.38666666666666666rem;
			margin-top: 0.18666666666666666rem;
			font-size: 0.37333333333333335rem;
		}
		.course-record .record:after{
			content: '';
			display: block;
			clear: both;
			overflow: hidden;
			
		}
		.course-record .record .record-time{
			float: left;
			color: #7e7e7e;
		}
		.course-record .record>a{
			float: right;
			color: #7e7e7e;
		}
		/* bottom-btn */
		.bottom-btn {
		  	position: fixed;
		  	max-width: 750px;
			bottom: 0px;
			background-color: #fff;
			width: 100%;
			height: 1.4666666666666666rem;
			padding: 0.4rem 0;
			box-sizing: border-box;
			box-shadow: 0.13333333333333333rem 0 0.26666666666666666rem 0.13333333333333333rem rgba(0, 0, 0, 0.05);
			overflow: hidden;
		}
		.bottom-btn .shuxian {
		  width: 1px;
		  height: 1.3333333333333333rem;
		}
		.left-btn .pic {
		  display: inline-block;
		  width: 0.64rem;
		  height: 0.64rem;
		}
		.bottom-btn .pic > img {
		  display: inline-block;
		  width: 0.6133333333333333rem;
		  margin-top: -0.06666666666666667rem;
		 
		}
		.bottom-btn .text {
		  height: 0.6rem;
		  line-height: 0.6rem;
		  font-size: 0.4266666666666667rem;
		  font-weight: 600;
		  vertical-align: baseline;
		}
		.left-btn,
		.right-btn {
		  width: calc(50% - 1px);
		  cursor: pointer;
		  text-align: center;
		}
		.left-btn .text {
		  color: #49a836;
		}
		.right-btn {
		  display: inline-block;
		}
		.right-btn .text {
		  color: #405bd3;
		}
		.left-btn {
		  float: left;
		}
		.right-btn {
		  float: right;
		}
		.hide {
		  display: none;
		}
		.fl-t{float: left;}

		/* 展开更多 */
					
		.ellipsis {
			position: relative;
			width: 100%;
			max-height: 1.4rem;
			/* h*n */
			line-height: 0.48rem;
			/* h */
			overflow: hidden;
		}
		
		.ellipsis-container {
			position: relative;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
			/* n */
			font-size: 100px;
			/* w */
			color: transparent;
		}
		
		.ellipsis-content {
			display: inline;
			vertical-align: top;
			/* f */
		}
		
		.ellipsis-ghost {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 50%;
			width: 100%;
			height: 100%;
			color: #000;
		}
		
		.ellipsis-ghost:before {
			content: "";
			display: block;
			float: right;
			width: 50%;
			height: 100%;
		}
		
		.ellipsis-placeholder {
			content: "";
			display: block;
			float: right;
			width: 50%;
			height: 1.4rem;
			/* h*n */
		}
		
		.ellipsis-more {
			padding: 0;
			margin: 0;
			border: none;
			background: none;
			float: right;
			font-size:  0.4266666666666667rem;
			/* f */
			width: 120px;
			/* w */
			height: 0.48rem;
			/* h */
			margin-top: -0.48rem;
			/* -h */
			line-height: 0.48rem;
			text-align: right;
			color: #2554a5;
			outline: none;
		}
	</style>
</head>
<body>
	<section class="courseDetail">
		<section class="ht-adv">
			<section class="logo">
				<img src="{{.CDN_HOST}}img/icon.svg">
				<span class="logo-title">HelloTalk</span>
			</section>
			<a class="open-btn" href="hellotalk://group_lesson/{{.obid}}">Open with App</a>
		</section>
		<section class="course-title">
			<h1>{{.LessonTitle}}</h1>
			<p class="course-sourse">{{.gl_from_group}}：{{.RoomName}} </p>
			<section class="course-time">
				<p class="time-title">{{.gl_lesson_time}}</p>
				<p class="time">
					<span class="icon-time"></span>
					<span class="t"> {{.LessonTime}} </span>
				</p>
			</section>
		</section>
		<p class="cut-off-rule"></p>
		<section class="course-info">
			<h2>{{.gl_lesson_description}}</h2>
			<section class="tip">
				<div class="ellipsis">
					<div class="ellipsis-container">
						<div class="ellipsis-content info">{{.LessonAbstract}}</div>
						<div class="ellipsis-ghost">
							<div class="ellipsis-placeholder"></div>
							<button class="ellipsis-more">...{{.gl_more}}</button>
						</div>
					</div>
				</div>
			</section>
		</section>
		<p class="cut-off-rule"></p>
		<section class="teacher-info">
			<h2>{{.gl_teacher_description}}</h2>
			<!-- <p class="info">主讲人：语言运用及教育专家Brian
现旅居英国，专长于语言教育、跨文化交流等领域。曾为北京新华社记者、埃及驻外记者，伦敦国际双语网站主编，上海外国语大学学士，英国伯恩茅斯大学硕士。<br>Speaker: Brian, the Language Application and Education Specialist
Now living in the UK, specializing in language education, cross-cultural exchanges and other fields. He was a reporter for Beijing Xinhua News Agency, a foreign correspondent for Egypt, a chief editor for London International Bilingual Website, a bachelor from Shanghai International Studies University, and a master from Bournemouth University.</p> -->
			<p class="info"> {{.TeacherAbstract}} </p>
		</section>
		<section class="course-record-wrap hide">
			<p class="cut-off-rule "></p>
			<section class="course-record ">
				<h2>{{.gl_record}}</h2>
			</section>
		</section>
		<!-- <p class="cut-off-rule"></p>
		<section class="course-record hide">
			<h2>{{.gl_record}}</h2>
		</section> -->
		<section style="width: 100%;height: 1px;margin-bottom: 1.4666666666666666rem;"></section>
		<section class="bottom-btn hide">
			<p class="left-btn join" data-src="hellotalk://join_group/{{.RoomOpenid}}">
				<span class="pic"><img src="//ali-hk-cdn.nihaotalk.com/groupclass/lessonShare/img/icon-peo.svg" alt=""></span>
				<span  class="text">{{.gl_join_group}} </sapn>
			</p>
			<i class="shuxian"></i>
			<p class="right-btn contact" data-src="hellotalk://chat_with/{{.TeacherOpenid}}">
				<span class="pic"><img src="//ali-hk-cdn.nihaotalk.com/groupclass/lessonShare/img/icon-teacher.svg" alt=""></span>
				<span class="text">{{.gl_contact_teacher}} </sapn>
			</p>
		</section>
	</section>
</body>
<script>

/*. 更新于2018年2月6日 */
	(function () {
		var lessonInfo = {{.lessonInfo}};
		var recordBox = document.querySelector('.course-record');
		var recordWrap = document.querySelector('.course-record-wrap');
		var record  = recordBox.querySelectorAll('.course-record .record'),
			lookVideo = recordBox.querySelectorAll('.record a'),
			recordTime = recordBox.querySelectorAll('.record .record-time');
		var datas = JSON.parse(lessonInfo);
		console.log(datas);
		
		var frontEndConfig = {{.frontEndConfig}};
		var config = JSON.parse(frontEndConfig);
		var apiList = config.apiList;
		console.log("config := ", config);


		var serviceAccessPrefix = {{.serviceAccessPrefix}};
		var openid = {{.Openid}};
		var roomId = datas.RoomId,recordUrlList = datas.RecordUrlList, LessonObid = datas.LessonObid;
		var videoPageUrl = apiList.lessonRecord;
		var isInRoom = datas.isInRoom;
		if(isInRoom) {
			recordWrap.className = 'course-record-wrap';
			for(var i=0,len=recordUrlList.length;i<len;i++){
				if(recordUrlList[i].voice_url&&recordUrlList[i].voice_url.trim().length>0){
					addNewRecord(recordUrlList[i]);
				}
			}
			// recordUrlList.forEach( function(val, index) {
			// 	if(val.voice_url&&val.voice_url.trim().length>0){
			// 		addNewRecord(val);
			// 	}
			// });
			
		}else{
			document.querySelector('.bottom-btn').className = 'bottom-btn';
		}
		var _u = navigator.userAgent;
		if (navigator){
			var openBtn = document.querySelector('.open-btn');
			var nu = _u.toLowerCase();
			if(nu.lastIndexOf('hellotalk',nu.length-1)!==-1){
				openBtn.className = 'open-btn hide';
			}else{
				openBtn.className = 'open-btn';
			}
		}
		var joinBtn = document.querySelector('.bottom-btn .join'),
			contact = document.querySelector('.bottom-btn .contact');
		joinBtn.onclick = function () {
			setTimeout(function() {
		       window.open("http://brc.hellotalk.com/4Jdc/SBQ3Jotsww","_blank");
		    },  850);
		    window.location = this.attributes['data-src'].value;
		}
		contact.onclick = function () {
			setTimeout(function () {
				window.open("http://brc.hellotalk.com/4Jdc/SBQ3Jotsww","_blank");
			},850);
			window.location = this.attributes['data-src'].value;
		}
		
		// 展开更多
		var more = document.querySelector('.ellipsis-more');
		try{
			if(more){
				more.onclick = function() {
					document.querySelector('.ellipsis').style.maxHeight = '14.4rem';
					document.querySelector('.ellipsis-container').style.webkitLineClamp = '30' ;
					document.querySelector('.ellipsis-placeholder').style.height = '15rem';
				}
			}
		}catch(e){
			console.log(e);
		}

		function addNewRecord(value) {
			var newRecord = document.createElement('section');
			newRecord.className = 'record';
			var date = new Date(value.begin_time_stamp);
			var month = date.getMonth()+1,
				year = date.getFullYear(),
				day = date.getDate(), 
				hour = twoDigits(date.getHours()), 
				min = twoDigits(date.getMinutes());
			var week = '';
			var pptUrl = value.ppt_url?value.ppt_url:'';
			var jump_link = videoPageUrl+'/'+value.record_obid+'/'+LessonObid+'?openid='+openid;
			switch (date.getDay()) {
				case 0:
					week = '周日';break;
				case 1:
					week = '周一';break;
				case 2:
					week = '周二';break;
				case 3:
					week = '周三';break;
				case 4:
					week = '周四';break;
				case 5:
					week = '周五';break;
				case 6:
					week = '周六';break;
				default: week = ' ';break;
			}

			newRecord.innerHTML = '<p class="record-time">'+year+'.'+month+'.'+day+' '+week+' '+hour+':'+min+'</p><a href="'+jump_link+'">{{.gl_check_record}}</a>';
			recordBox.append(newRecord);
		}
		function twoDigits(num){
			return num>=10?num:'0'+num;
		}
		/*. */
		var couresTime = document.querySelector('.course-time .time .t');
		if(couresTime.innerText.trim().length===0){couresTime.innerText = {{.gl_no_time}} };
		var teacherInfo = document.querySelector('.teacher-info .info');
		if(teacherInfo.innerText.trim().length===0){teacherInfo.innerText = {{.gl_no_abstract}} };
		var courseInfo = document.querySelector('.course-info .tip .info');
		if(courseInfo.innerText.trim().length===0){courseInfo.innerText= {{.gl_no_abstract}} };
		if(!recordBox.querySelector('.record')){recordBox.innerHTML+= '<p style="color:#555;font-size:14px;text-align:center;"> {{.gl_no_record}} </p>'}
		

		var str = document.querySelector('.course-title h1');
		str.innerHTML =  androidStrToEmoji(str.innerHTML);
		var str1 = document.querySelector('.course-info .info');
		str1.innerHTML =  androidStrToEmoji(str1.innerHTML);
		var str2 = document.querySelector('.teacher-info .info');
		str2.innerHTML =  androidStrToEmoji(str2.innerHTML);
		
	})()
</script>
</html>