<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script src="//sz-ht-headimg-cdn.nihaotalk.com/pub/js/jquery.min.js" type="text/javascript"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js" type="text/javascript"></script> 
 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>HelloTalk Language Exchange - Learn English Chinese Mandarin Korean Japanese Spanish German French Italian Russian Arabic App</title>
 
</head>

<body>
    <div id="logo">
        RECV:<textarea class='recv' style="margin: 0px; height: 188px; width: 1125px;"></textarea>
    </div>
     
    <br>
    CHATWITH: <input type="text" class='touserid' value="900866" /><br>
    SEND:<textarea class='sendtext'  style="margin: 0px; height: 128px; width: 825px;"></textarea>
        
     <button class="send">Send</button> 
    <br>
    <br>
    JSON:<textarea class='jsontext'  style="margin: 0px; height:  28px; width: 825px;"></textarea>
        
     <button class="sendjson">Send</button> 
     
    <br> <button class="Login">Login</button> 
    
    <br> <button class="getOfflineMsg">getOfflineMsg</button> 
    
    <br> <button class="getRecentChatList">getRecentChatList</button> 
    <br> <button class="getLoginCnf">getLoginCnf</button> 
     
</body>
</html>

<script>
function randomString(len) {
　　len = len || 32;
　　var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';    /****默认去掉了容易混淆的字符oOLl,9gq,Vv,Uu,I1****/
　　var maxPos = $chars.length;
　　var pwd = '';
　　for (i = 0; i < len; i++) {
　　　　pwd += $chars.charAt(Math.floor(Math.random() * maxPos));
　　}
　　return pwd;
}

    window.CONFIG   =   {}
    window.CONFIG.WS_HOST   =   'ws://'+window.location.host+'/kf_center/chat/'+{{ .token }}

    var mywebsocket = window.WebSocket || window.MozWebSocket; 
     
    
    
    var HTCHAT  =   {
        id_seq      :   0,
        initMyInfo:function(json){
            this.MYINFO =   json
            this.initChat()
        },getNowTS:function( ){
            var timestamp = Date.parse(new Date());
            return timestamp/1000
        },
        initChat: function(){ 
            // 创建一个Socket实例
            this.socket = new mywebsocket( window.CONFIG.WS_HOST ); 
          //  this.socket.binaryType = "arraybuffer"
            $this   =   this
            this.socket.onclose = function(event) {
                console.log('Client notified socket has closed',event); 
                $this.add_tips('socket.close:'  )
            }; 
            
             this.socket.onmessage = function(evt){
                if(evt && evt.data){
                    $this.add_tips((new Date()).toISOString()+' [Recv]:'+ evt.data)
                    try{
                        $this.recvHandler(JSON.parse(evt.data))
                    }
                    catch(e){
                        console.log(e)
                    }
                
                }
             } 
             
            this.socket.onerror = function(evt){
                console.error('WebSocketError!');
                $this.add_tips('socket.error:'+ evt.data)
            };
             
        },
        genMsgID : function (){
            return randomString(32)
        }, 
        
        sendJsonMsg :function (text){
            
            var msg     =     {
                    "msg_id"    : this.genMsgID(),
                    "send_time":"2014-02-07 12:15:46",
                    "msg_type":"text", // "text","translate","voice","image","introduction","location","voice_text"
                    "msg_model":"normal", //  模式包括 "normal","language_exchange"
                    "from_profile_ts":this.MYINFO.profile_ts,
                    "from_nickname": this.MYINFO.nickname,  
                     
                    // 不同消息的消息内容结构
                    "text":{
                        "text": text
                    }, 
            } 
            
            var touserid  = parseInt($('.touserid').val())

            var pack    =   {
                id      :   this.id_seq,
                typ     :   "msg",
                cmd     :   CMD_DEFINE.CMD_P2P_MESSAGE,
                from    :   this.MYINFO.userid,
                to      :   touserid,
                status  :   0,
                data    :   msg || {}
            } 
            this.sendJson(pack)
        },
        sendJson:function(pack,busi){
            $this           =   this
            var sdy         =   this.socket.readyState
            if(sdy== 1 ){ 
                this.id_seq++
                var jsonStr     =   JSON.stringify(pack)
                $this.add_tips((new Date()).toISOString()+' [Send'+(busi || '' )+']:'+ jsonStr)
                this.socket.send(jsonStr)
            }else{ 
                
                if (sdy==3) {
                    setTimeout(this.initChat.bind($this),800)
                }
                console.error('socket.readyState:'+sdy)
            }
        }, 
        sendRecipt:function(recvPack,data){
            
            var pack    =   {
                id      :   recvPack.id,
                cmd     :   recvPack.cmd+1,
                typ     :   "ack",
                from    :   recvPack.from,
                to      :   recvPack.to,
                status  :   0,
                data    :   data || {}
            }
            this.sendJson(pack,'ack')
        },
        sendMsgSeen:function(recvPack){
            
            var pack    =   {
                id      :   recvPack.id+1,
                cmd     :   CMD_DEFINE.CMD_P2P_MESSAGESEEN_NOTIFY,
                typ     :   "seen",
                from    :   recvPack.to,
                to      :   recvPack.from,
                status  :   0,
                data    :  {msg_id:recvPack.data.msg_id}
            }
            this.sendJson(pack,'seen')
        },
        add_tips:function(text){
            $('.recv').val(text+'\r\n'+$('.recv').val())
        },
          
        login_handler: function(recvPack){
                
                var $this   =   this
                
                this.MYINFO     =   Object.assign(this.MYINFO,recvPack.data.Config.my_info)
                console.log('this.MYINFO:',this.MYINFO)
                var add     =   recvPack.data.info 
                this.add_tips('login:'+add)
                if(recvPack.status!=0){
                    this.socket.close() 

                }
             
        }
        ,recvHandler: function(recvPack){ 
            if (recvPack && recvPack.cmd){
                var func    =   recvPack.typ+'_handler'
                if( HTCHAT[func]){
                    HTCHAT[func].call(HTCHAT,recvPack)
                } 
                
                if(recvPack.id ){
                    this.id_seq =   recvPack.id
                }
                
                var cmdName     =    CMD_DEFINE_OR[recvPack.cmd]
                if ( cmdName && this.cmd_define[cmdName]){
                    this.cmd_define[cmdName](this,recvPack)
                }
            }    
        },
        recvOffline     :function(last_offline){
                if (!last_offline){
                    return;
                }
                    var pack    =   {
                        id      :   HTCHAT.id_seq,
                        cmd     :   CMD_DEFINE.CMD_NEW_GET_OFFLINEMESSAGE,
                        typ     :   "offline",
                        from    :   HTCHAT.MYINFO.userid,
                        to      :   0,
                        status  :   0,
                        data    :   last_offline ? { last_offline:last_offline } : {}
                    } 
                    HTCHAT.sendJson(pack,'offline') 
                    
        },
        getRecentChatList       :function( ){ 
                    var pack    =   {
                        id      :   HTCHAT.id_seq,
                        cmd     :   CMD_DEFINE.CMD_GET_RECENT_CHAT_LIST,
                        typ     :   "getinfo",
                        from    :   HTCHAT.MYINFO.userid,
                        to      :   0,
                        status  :   0, 
                    } 
                    HTCHAT.sendJson(pack,'getinfo') 
                    
        },getLoginCnf       :function( ){ 
                    var pack    =   {
                        id      :   HTCHAT.id_seq,
                        cmd     :   CMD_DEFINE.CMD_GET_LOGIN_CONFIG,
                        typ     :   "getinfo",
                        from    :   HTCHAT.MYINFO.userid,
                        to      :   0,
                        status  :   0, 
                    } 
                    HTCHAT.sendJson(pack,'getinfo') 
                    
        },
        cmd_define      :   {
            
            //收取离线消息            
            CMD_NEW_GET_OFFLINEMESSAGE_ACK                  :   function(obj,recvPack){ 
                    
                    if (recvPack && recvPack.data){
                        
                        if (recvPack.data.msgs){
                            recvPack.data.msgs.forEach(function(v){
                                v.offline   =   1
                                 obj.recvHandler(v)
                            })
                             
                        }
                        
                        if (recvPack.data.info.any_more>0){
                        
                            obj.recvOffline(recvPack.data.info.last_offline)
                            
                            setTimeout(function(){this.recvOffline(recvPack.data.info.last_offline)}.bind(obj),500) 
                            
                        }else{
                            obj.add_tips('离线消息获取完毕') 
                        }
                         
                        
                    }else{
                        obj.add_tips('离线数据获取错误') 
                    }
                
            },
            CMD_P2P_MESSAGE                 :   function(obj,recvPack){ 
                        
                        if(recvPack.status==0){ 
                            var add     =   recvPack.data[recvPack.data.msg_type]
                            obj.add_tips(typeof add=='string' ? add : JSON.stringify(add))   
                            //发小消息已读回执
                            setTimeout(function(){this.sendMsgSeen(recvPack)}.bind(obj),1500)
                            
                            if(recvPack.offline==1){
                                obj.add_tips('offline Message') 
                            }else{
                                obj.sendRecipt(recvPack)
                            }
                                        
                            
                            
                        } else{
                            obj.add_tips('recv a bad message')   
                        }
                        
                        
            
            
            } ,
            CMD_RECEIPT_MESSAGE                 :   function(obj,recvPack){ 
                    if(recvPack && recvPack.data && recvPack.data.code){
                        if (recvPack.data.code!=0){
                            obj.add_tips('消息发送失败：'+MSG_RECEIPT_CODE_OR[ recvPack.data.code])
                        }
                    }       
            
            } ,
            //收到电话邀请
            CMD_P2P_VIDEO_CHAT_INVITE       :   function(obj,recvPack){ 
                
                if(recvPack.offline==1){
                    obj.add_tips('offline VOIP INVITE')
                    return;
                }
                
                var pack    =   {
                        id      :   obj.id_seq,
                        cmd     :   CMD_DEFINE.CMD_P2P_VIDEO_CHAT_INVITE_ACCEPT,
                        typ     :   "voip",
                        from    :   recvPack.to,
                        to      :   recvPack.from,
                        status  :   0,
                        data    :   {roomid:recvPack.data.roomid,ts:obj.getNowTS()}
                    } 
                    obj.sendJson(pack,'voip')
            },  
            //对方接受电话
            CMD_P2P_VIDEO_CHAT_INVITE_ACCEPT        :   function(obj,recvPack){ 
                
            },
            //接受对方电话回执
            CMD_P2P_VOIP_INVITE_ACCEPT_RECEIPT      :   function(obj,recvPack){ 
                this.add_tips('VOIP:对方电话回执')
            },
            //接受对方电话回执
            CMD_P2P_VIDEO_CHAT_INVITE_ACCEPT_RECEIPT        :   function(obj,recvPack){ 
                this.add_tips('VOIP:对方电话回执')
            },
            CMD_P2P_MESSAGESEEN_NOTIFY      :   function(obj,recvPack){ 
                obj.sendRecipt(recvPack)
            } ,
            CMD_P2P_PUBLIC_MESSAGE          :   function(obj,recvPack){ obj.sendRecipt(recvPack)} ,
            CMD_P2P_INPUTTING_NOTIFY        :   function(obj,recvPack){  obj.add_tips(recvPack.from +' is input ing')  } ,
        },
         
    }
    
    
     
    
    $('.send').click(function(){
          
            var text    =   $('.sendtext').val();
            if(text && text !=''){
                HTCHAT.sendJsonMsg(text)
            }else{ 
                console.error('text empty')
            } 
         
    })
    
    $('.sendjson').click(function(){
          
            var text    =   $('.jsontext').val();
            if(text && text !=''){
                try{
                    var josn    =   JSON.parse(text)
                    HTCHAT.sendJson(josn)
                
                }catch(e){
                    console.log(e)
                }
            }else{ 
                console.error('sendjson empty')
            } 
         
    })
    
  
    
    
    $('.Login').click(function(){
          
                    HTCHAT.initMyInfo([0,0])
         
    })     

    $('.getOfflineMsg').click(function(){
          
                    HTCHAT.recvOffline([0,0])
         
    })  
    
    $('.getRecentChatList').click(function(){
          
                    HTCHAT.getRecentChatList('1990-10-10 10:10:10')
         
    })
    
    $('.getLoginCnf').click(function(){
          
                    HTCHAT.getLoginCnf( )
         
    })
      

</script>
